<header>
  <img src="{{site.baseurl}}/assets/portrait.png", align="middle">
  <!--h1>{{ site.title }}</h1>
  <!--h2>{{ site.subtitle }}</h2-->
  <!--h1>AWARE</h1-->
  <hr class="header">
  <h2>HERE,THERE &</h2>
  <h1>EVERYWHERE</h1>
  <hr class="header">

  <h4>
    <a href="{{site.baseurl}}/index.html">HOME</a> · 
    <a href="{{site.baseurl}}/archive.html">ARCHIVE</a> · 
    <a href="{{site.baseurl}}/gallery.html">GALLERY</a>
  </h4>
  
  <div class="aboutme">
   Blah blah, lorem ipsum would be good here, but I'm too lazy to copy and paste, so here we go. 
  </div>

  <!--
  <ul>
    <li><a href="https://github.com/orderedlist/minimal/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/orderedlist/minimal/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="http://github.com/orderedlist/minimal">Fork On <strong>GitHub</strong></a></li>
  </ul>
  -->
</header>