<header>
  <!--img src="{{site.baseurl}}/assets/portrait.png" align="middle"--> 

  <h1 id="header1">HERE,THERE &</h1>
  <h1 id="header2">EVERYWHERE</h1>
  
  <div class="aboutme">
   Blah blah, lorem ipsum. This is the website description.
  </div>

  <!-- TEMPORARY -->
  <br>
  <h3>PROJECTS</h3>
  <!-- <hr class="hr-header"> -->
  <!-- <h4> -->
  {% for post in site.posts %}
  <!-- <ul> -->
    <!-- <h3 class="upcase"> -->
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <span class="grey"> {{ post.subtitle }}</span> </a><br>
    <!-- </h3> -->
  <!-- </ul> -->
  {% endfor %}
  <!-- </h4> -->
  <!-- TEMPORARY -->

</header>