html{
    border-top: 3px solid #666; 
}

body {
  background-color:#FCFCFC;
  padding:35px;
  font: 14px/1.5  "Vollkorn", "Times New Roman", serif;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#444;
  margin:0 0 0px;
}

h1 {
  font-family: "Oswald";
}

#header1 {
  font-size: 36px;
}

#header2 {
  font-size:38px;
}

p, ul, ol, pre {
  margin:0 0 20px;
}

ul {
  list-style-type: none;
}

h1, h2, h3 {
  line-height:1.1;
}

h3 {
  font-family: "Unica One";
  font-size: 24px;
  padding: 2px;
}

h4 {
  font-family: "Unica One";
  font-size: 19px;
}

a {
  color:#444;
  text-decoration:none;
}

a:hover {
  color:#069;
}

img {
  max-width:100%;
  display: block;
}

.wrapper {
  width:1020px;
  /*width: 80%;*/
  margin:0 auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

header {
  width:200px;
  /*width: 18%;*/
  float:right;
  position:fixed;
  text-align: left;
  /*margin-left: 560px;*/
  margin-left: 795px;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:760px;
  /*width: 75%;*/
  float:left;
  padding-bottom:50px;
}

footer {
  background-color: #FCFCFC;
  width:200px;
  float:right;
  position:fixed;
  /*margin-left: 550px;*/
  margin-left: 795px;
  text-align:center;
  bottom:20px;
  -webkit-font-smoothing:subpixel-antialiased;
}

/*hr*/
.hr-header{
    border: 0;
    height: 2px;
    width: 185px;
    align: center;
    background: #666;
}

.hr-bottom {
  margin:25px 0 25px 0;
}

.center-text{
  text-align: center;
}

.upcase {
  text-transform: uppercase;
}

.half-width {
  width: 50%
}

.post-description {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 12px;
}

.aboutme {
  /*width: 200px;*/
  /*margin:0 auto;*/
  /*text-align: center;*/
  padding-top: 5px;
}

.grey {
  color: #AAA
}

img.hover-fade:hover {
    opacity: 0.8;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}


.others {
  text-align: center;
}

.other-post {
  max-width: 32%;
  display: inline-block;
  padding: 6px;
  vertical-align: top
}

.small-thumbnail {
  height: 11em;
}

/*hover effect*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  padding: 3px;
  padding-bottom: 6px;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  /*-webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);*/
}

.overlay{
  color:#fff;
  font-family: "Unica One"; 
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  /*-webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);*/
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect p {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  background-color: transparent;
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  /*-webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);*/
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  /*-webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);*/
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  /*-webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);*/
}

/* buttons */
button {
  background:none!important;
  border:none; 
  cursor: pointer;
  font-family: "Unica One";
  font-size: 24px;
  color:#444;
  padding-left: 10px;
  padding-right: 10px;
 }

button:hover {
  color:#999;
}

.filter-button-group {
  text-align: center;
  padding: 8px;
}

/*social links*/

.social-links i{
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-right: 0px; /*space between*/
  font-size: 16px;
  line-height: 40px;
  color: #909090;
}

.social-links i:hover {
    color: #464646;
  }

/* Gallery Grid */
.grid-item {
  float: left;
  width: 32%;
  padding: 5px;
}

/*
@keyframes opacity {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.grid-item {
    opacity: 0;
    animation: opacity 1s forwards;
}


.grid-item:nth-of-type(1) {animation-delay: .2s;}
.grid-item:nth-of-type(2) {animation-delay: .4s;}
.grid-item:nth-of-type(3) {animation-delay: .6s;}
.grid-item:nth-of-type(4) {animation-delay: .8s;}
.grid-item:nth-of-type(5) {animation-delay: .10s;}
.grid-item:nth-of-type(6) {animation-delay: .12s;}
.grid-item:nth-of-type(7) {animation-delay: .14s;}
.grid-item:nth-of-type(8) {animation-delay: .16s;}
.grid-item:nth-of-type(9) {animation-delay: .18s;}
.grid-item:nth-of-type(10) {animation-delay: .20s;}
.grid-item:nth-of-type(11) {animation-delay: .22s;}
.grid-item:nth-of-type(12) {animation-delay: .24s;}
.grid-item:nth-of-type(13) {animation-delay: .26s;}
.grid-item:nth-of-type(14) {animation-delay: .28s;}
.grid-item:nth-of-type(15) {animation-delay: .30s;}
.grid-item:nth-of-type(16) {animation-delay: .32s;}
.grid-item:nth-of-type(17) {animation-delay: .34s;}
.grid-item:nth-of-type(18) {animation-delay: .36s;}
.grid-item:nth-of-type(19) {animation-delay: .38s;}
.grid-item:nth-of-type(20) {animation-delay: .40s;}
.grid-item:nth-of-type(21) {animation-delay: .42s;}
.grid-item:nth-of-type(22) {animation-delay: .44s;}
.grid-item:nth-of-type(23) {animation-delay: .46s;}
.grid-item:nth-of-type(24) {animation-delay: .48s;}
*/


/*GALLERY GRID

#photos {
  // Prevent vertical gaps
  line-height: 1;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   4px;
  -moz-column-count:    3;
  -moz-column-gap:      4px;
  column-count:         3;
  column-gap:           4px;  
}

#photos img {
  // Just in case there are inline attributes
  width: 100% !important;
  height: auto !important;
} */

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}